<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Agregar cliente</title>
	<link rel="stylesheet" href="../css/form.css" />
</head>

<body>
	
	<div class="container">  
	  <form id="contact" action="/client" method="post" th:object="${client}">
	    <h3>Agregar un nuevo cliente</h3>

	    <fieldset>
	      <input placeholder="Nombre" type="text" tabindex="1" required autofocus name="name">
	    </fieldset>
	    <fieldset>
	      <input placeholder="Apellido" type="text" tabindex="2" required name="surname">
	    </fieldset>
	    <fieldset>
	      <input placeholder="  Número de teléfono" type="number" tabindex="3" required name="phoneNum">
	    </fieldset>

	    <fieldset>
	      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Agregar</button>
	    </fieldset>
	  </form>
	</div>
	
	<div class="btnVolver">
		<a href="/"><button class="volver">Volver</button></a>
	</div>
	
</body>
</html>