<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Agregar comida</title>
	<link rel="stylesheet" href="../css/form.css" />
</head>

<body>
	
	<div class="container">  
	  <form id="contact" action="" method="post">
	    <h3>Agregar una nueva comida</h3>

	    <fieldset>
	      <input placeholder="Nombre" type="text" tabindex="1" required autofocus>
	    </fieldset>
	    <fieldset>
	      <input placeholder="  Precio" type="number" tabindex="3" required>
	    </fieldset>

	    <fieldset>
	      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Agregar</button>
	    </fieldset>
	  </form>
	</div>
	
	<div class="btnVolver">
		<a href="../index.html"><button class="volver">Volver</button></a>
	</div>
	
</body>
</html>