<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Crear pedido</title>
</head>

<body>
	<h1>Nuevo pedido</h1>
	
	<form action="/createOrder" method="post" th:object="${order}">
	
		<!--Condicional Switch-->
		<div th:switch="${clients.isEmpty} == true">
			
			<!--En caso de ser true-->
			<div th:case="${true}">
				<p>No existe ningún cliente</p>
				<br>
			    <a href="/newClient"> Agregar cliente </a>
			</div>
			
			<!--En caso de ser false-->
			<div th:case="${false}">
			
				<div th:switch="${foods.isEmpty} == true">
					
					<!--En caso de ser true-->
					<div th:case="${true}">
						<p>No existe ninguna comida</p>
						<br>
					    <a href="/newFood"> Agregar comida </a>
					</div>
					
					<!--En caso de ser falso-->
					<div th:case="${false}">
						<label> Seleccione un cliente </label>
						<select th:field="*{client}">
							<th:block th:each="client : ${clients}">
								<option  th:text="${client.name}" th:value="${client.id}"></option>
							</th:block>
						</select>
						
						<label> Seleccione una comida </label>
						<select >
							<option th:each="food : ${foods}" th:text="${food.name}" th:value="${food.id}" ></option>
						</select>
						
						<button name="submit" type="submit">Generar orden</button>
					</div>
				</div>
				
			</div>
		</div>
		
		</div>
				
		
		
		
		
		
	</form>
	
	<br>
	<a href="../index.html"><button>Volver</button></a>

</body>
</html>